<!DOCTYPE html>
<html>
<head>
    <title>Editor</title>
</head>
<body>
<style>
html, body {
    height: 100%;
    margin: 0;
}
iframe{
    display:block;
}
</style>
<iframe src="{{editor}}" style="border: 0; width: 100%; height: 100%">Your browser doesn't support iFrames.</iframe>

</body>
</html>
