.error{
    margin-top: 10px;
}
.add-custom-field{
    cursor: pointer;
}
.qc-col{
    width: 50%;
    float: left;
    position: relative;
}
.qc-clearboth{
    clear: both;
}
.intl-tel-input {
    display: block;
}