.qc-row,
.step {
    clear: both;
}

.show {
    display: block;
}

.qc {
    .tab-pane {
        &.active {
            display: block;
            .tab-pane {
                display: block;
            }
        }
    }
}